<section class='signature-spell-section'>
  <h3 class='resource-label'>Signature Spell</h3>
  <div class='resource flex-group-center signature-spell-dropzone'>
    {{#if signatureSpell}}
      <div>
        {{signatureSpell.name}}
        ({{ordinal signatureSpell.system.spellLevel}} circle)
      </div>
    {{else}}
      <div>Drag a prepared spell here to set signature spell.</div>
    {{/if}}
  </div>
</section>

<hr />

<section class='spell-list-section'>
  <h3 class='resource-label'>Spell List</h3>

  <ol class='items-list'>
  {{#each spells as |spellGroup|}}
    <li class='item flexrow items-header'>
      <div class='item-name'>
        {{#if (eq spellGroup.spellCircle "cantrip")}}
          {{localize 'HORIZONLESS_RPG.Item.Spell.CantripSpells'}}
        {{else}}
          {{localize 'HORIZONLESS_RPG.Item.Spell.SpellCircle' circle=spellGroup.spellCircle}}
        {{/if}}
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-create'
          title='{{localize "DOCUMENT.Create" type='Spell'}}'
          data-type='spell'
          data-spell-level='{{spellGroup.spellCircle}}'
          {{#if (eq spellGroup.spellCircle "cantrip")}}data-level-label='Cantrip' data-heightened-circle='1'{{/if}}
        >
          <i class='fas fa-plus'></i>
          {{#if (eq spellGroup.spellCircle "cantrip")}}
            {{localize 'HORIZONLESS_RPG.Item.Spell.AddCantrip'}}
          {{else}}
            {{localize 'HORIZONLESS_RPG.Item.Spell.AddCircle' circle=spellGroup.spellCircle}}
          {{/if}}
        </a>
      </div>
    </li>
    {{#each spellGroup.spells as |item id|}}
      <li class='item flexrow spell-signature-source' data-item-id='{{item._id}}' draggable='true'>
        <div class='item-name flexrow'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='item'><img
                src='{{item.img}}'
                title='{{item.name}}'
                width='24'
                height='24'
              /></a>
          </div>
          <h4>{{item.name}}</h4>
        </div>
        <div class='item-controls'>
          <span
            class='item-control spell-drag-handle'
            title='Drag to Signature Spell'
            draggable='true'
            data-item-id='{{item._id}}'
          >
            <i class='fas fa-grip-vertical'></i>
          </span>
          <label class='item-control' title='Heighten'>
            <select class='spell-heighten-select' {{#unless @root.editable}}disabled{{/unless}}>
              {{#each item.heightenOptions as |circle|}}
                <option value='{{circle}}' {{#if (eq circle ../system.heightenedCircle)}}selected{{/if}}>
                  {{#if (eq circle ../system.spellLevel)}}
                    Cast at {{ordinal circle}} circle
                  {{else}}
                    Heighten to {{ordinal circle}} circle
                  {{/if}}
                </option>
              {{/each}}
            </select>
          </label>
          <label class='item-control' title='Prepared'>
            <input
              type='checkbox'
              class='spell-prepared-toggle'
              {{checked item.system.prepared}}
              {{#unless @root.editable}}disabled{{/unless}}
            />
            Prepared
          </label>
          <a
            class='item-control item-edit'
            title='{{localize "DOCUMENT.Edit" type='spell'}}'
          >
            <i class='fas fa-edit'></i>
          </a>
          <a
            class='item-control item-delete'
            title='{{localize "DOCUMENT.Delete" type='spell'}}'
          >
            <i class='fas fa-trash'></i>
          </a>
        </div>
      </li>
    {{/each}}
  {{/each}}
  </ol>
</section>
