<section class="properties-section">
  <h3>Properties</h3>

  <div class="properties-list">
    {{#if (eq actor.type "npc")}}
      <div class="property-row">
        <label for="system.type" class="resource-label">Type</label>
        <select name="system.type">
          {{#each @root.config.npcTypes as |label key|}}
            <option value="{{key}}" {{#if (eq key ../system.type)}}selected{{/if}}>{{label}}</option>
          {{/each}}
        </select>
      </div>

      <div class="property-row">
        <label for="system.tier" class="resource-label">Tier</label>
        <select name="system.tier" data-dtype="Number">
          {{#each @root.config.npcTiers as |tier|}}
            <option value="{{tier}}" {{#if (eq tier ../system.tier)}}selected{{/if}}>{{tier}}</option>
          {{/each}}
        </select>
      </div>
    {{/if}}

    <div class="property-row">
      <label for="system.criticalHitThreshold" class="resource-label">Critical Hit Threshold</label>
      <input
        type="number"
        name="system.criticalHitThreshold"
        value="{{system.criticalHitThreshold}}"
        data-dtype="Number"
        min="15"
        max="20"
        step="1"
      />
    </div>
  </div>
</section>
