<div class="horizonless-damage-action">
  <div class="horizonless-damage-action-field">
    <select class="horizonless-damage-type">
      <option value="">Select Damage Type</option>
      {{#if hasDamageTypeOptions}}
        {{#each damageTypeOptions as |option|}}
        <option value="{{option.value}}" {{#if (eq option.value @root.selectedDamageType)}}selected{{/if}}>{{option.label}}</option>
        {{/each}}
      {{else}}
        {{#each damageTypeGroups as |group|}}
        <optgroup label="{{group.label}}">
          {{#each group.options as |option|}}
          <option value="{{option.value}}" {{#if (eq option.value @root.selectedDamageType)}}selected{{/if}}>{{option.label}}</option>
          {{/each}}
        </optgroup>
        {{/each}}
      {{/if}}
    </select>
  </div>
  {{#if showInjuring}}
  <label class="horizonless-damage-action-toggle">
    <input
      type="checkbox"
      class="horizonless-damage-injuring"
      {{#if injuring}}checked{{/if}}
    />
    Injuring
  </label>
  {{/if}}
  {{#if showHalfDamage}}
  <label class="horizonless-damage-action-toggle">
    <input
      type="checkbox"
      class="horizonless-damage-half"
      {{#if halfDamage}}checked{{/if}}
    />
    Half Damage
  </label>
  {{/if}}
  <button
    type="button"
    class="horizonless-apply-damage"
    data-target-token-uuids="{{targetTokenUuids}}"
    data-application-key="{{applicationKey}}"
    data-damage-total="{{damageTotal}}"
    data-applied="false"
  >
    {{buttonLabel}}
  </button>
</div>
