{{#if flavor}}
<p class="horizonless-manuever-flavor"><em>{{flavor}}</em></p>
{{/if}}
{{{baseContentHtml}}}
{{#if hasAdvancements}}
<hr>
<div class="horizonless-manuever-requirements-met">
  {{#each advancements}}
    {{#if requirement}}
      <p><strong>{{requirement}}</strong> requirement met for {{../manueverName}}.</p>
    {{/if}}
    {{{textHtml}}}
    {{#unless @last}}<hr>{{/unless}}
  {{/each}}
</div>
{{/if}}
